.itemData {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 400px;
  padding: 10px;
}

.btn {
  margin: auto 10px;
  width: auto;
  height: 50px;
  background-color: rgb(187, 195, 195);
}
.name {
  padding: 6px;
}
.tel {
  padding: 6px;
}
